.video-detail__container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    video{
        width:100%;
        max-width:850px;
    }
    .video__info{
        width:100%;
        margin-top:25px;
        max-width: 850px;
        button{
            width: 200px;
            margin-bottom:25px;
        }
        .video__title,
        .video__description,
        .video__views{
            display:block;
            margin-bottom: 15px;
        }
        .video__title{
            font-size:22px;
            font-weight: 500;
        }
        .video__views{
            font-size:14px;
        }
        .video__description{
            font-size:18px;

        }
    }   

    .video__comments {
        display:block;
        margin-top:25px;
        .video__comment-number{
            font-size:16px;
        }
    }
}